/* fonts */

/*
@font-face {
  font-family: "Cuprum";
	font-weight: 400;
  font-style: normal;
	src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}
*/

/* variables */

:root {
  --black: #000000;
  --white: #ffffff;
  --card-white: rgba(255, 255, 255, 0.65);
  --beige-light: #ead5be;
  --beige-dark: #8e825c;
  --wood: #5f4632;

  --shadow-light: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --max-width: 1440px;
  --nav-width: 1144px;
  --container-width: 900px;
}

/* global */

*, *::before, *::after { 
  box-sizing: border-box; 
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--white);
  font-family: "Merienda", cursive;
  font-size: 14px;
  line-height: 20.22px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.img {
  max-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  background-color: none;
  text-decoration: none;
}

.btn--action {
  padding: 4px 41px 4px;
  border: solid 1px var(--white);
  border-radius: 3px;
  color: var(--white);
  font-weight: normal;
  line-height: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

.module__title {
  margin: 0 0 20px;
  padding: 0;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
}

.page__title {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  text-shadow: var(--shadow-light);
}

/* index */

/* header */

.header {
  min-height: 640px;
  background-color: var(--beige-dark);
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 30px;
}

.header .container {
  max-width: var(--nav-width);
}

.header__navigation {
  padding-bottom: 2px;
}

.header__menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.logo {
  display: flex;
  margin-right: 40px;
  cursor: pointer;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
}

.navigation__item {
  margin-right: 40px;
}

.navigation__link {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-shadow: var(--shadow-light);
}

/* hero */

.hero {
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
  color: var(--white);
}

.hero__title {
  margin-bottom: 10px;
}

.hero__devider {
  margin-bottom: 20px;
}

.devider {
  display: flex;
  justify-content: center;
}

.hero__slogan {
  max-width: 531px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 24px;
  line-height: 45px;
  margin-bottom: 18px;
}

/* about */

.about {
  padding-top: 80px;
  padding-bottom: 100px;
}

.about__devider {
  margin-bottom: 40px;
}

.about__text {
  max-width: 590px;
  text-align: center;
  margin: 0 auto;
}

.about__text:not(:last-child) {
  margin-bottom: 20px;
}

/* our best */

.our-best {
  padding-top: 80px;
  padding-bottom: 110px;
  background-color: var(--beige-light);
  background-image: url("../img/paper-bg.png");
  background-repeat: repeat-y;
  background-position: center top;
}

.our-best__title {
  margin-bottom: 30px;
}

.goods {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.good {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 220px;
  min-height: 240px;
  background-color: var(--card-white);
  padding: 22px 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.good:not(:last-child) {
  margin-right: 71px;
}

.good__img-wrap {
  display: flex;
  max-width: 167px;
  max-height: 134px;
  margin: 0;
}

.good__title {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.good__price {
  margin: 0;
  align-self: self-end;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

/* footer */

.footer {
  padding-top: 30px;
  padding-bottom: 21px;
}

.footer__devider {
  margin-bottom: 0;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
}

.footer .navigation__link {
  color: var(--black);
}