/* fonts */

/*
@font-face {
  font-family: "Cuprum";
	font-weight: 400;
  font-style: normal;
	src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}
*/

/* variables */

/* global */

*, *::before, *::after { 
  box-sizing: border-box; 
}

body {
  font-family: "Merienda", cursive;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img {
  max-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

/* blank */

.blank {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left_part {
  max-width: 50%;
  padding-right: 20px;
}

.right_part {
  max-width: 50%;
  padding-left: 20px;
}

/* index */

/* other */